body {
    background-color: #404040;
    text-align: center;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1.5fr 0.5fr; 
    grid-template-rows: 0.05fr 0.75fr 0.6fr 1fr 1fr 0.6fr; 
    gap: 5px 5px; 
    grid-template-areas: 
      "TitleSection TitleSection TitleSection TitleSection"
      "Authentication Visualization Visualization Legend"
      "SelectionTool Visualization Visualization Legend"
      "SelectionTool Visualization Visualization Legend"
      "SelectionTool Visualization Visualization Legend"
      "SelectionTool Visualization Visualization Legend"; 
  }
  
.TitleSection { 
    grid-area: TitleSection; 
}

.TitleText {
    font-size: 30px;
    font-weight: bold;
    color: #d9d9d9;
}

.Authentication {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "AuthenticationTitle AuthenticationTitle AuthenticationTitle"
      "UsernameText UsernameField UsernameField"
      "TokenText TokenField TokenField"
      "AuthBtn AuthBtn AuthBtn";
    grid-area: Authentication; 
    border: solid;
    border-radius: 10px;
    background-color: #e6e6e6;
  }
  
.AuthenticationTitle { 
    grid-area: AuthenticationTitle;
    text-align: center;
}

.UsernameText { 
    grid-area: UsernameText;
    text-align: right;
}

.TokenText {
    grid-area: TokenText;
    text-align: right;
}

.UsernameField { 
    grid-area: UsernameField;
}

.TokenField {
    grid-area: TokenField;
}

#username {
    border: solid;
    border-width: 0.8px;
    width: 90%;
}

#token {
    border: solid;
    border-width: 0.8px;
    width: 90%;
}

.AuthBtn{
    grid-area: AuthBtn;
}


.SelectionTool {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.6fr 1fr 1.9fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "SelectButtons SelectButtons SelectButtons"
      "SearchField SearchField SearchField"
      "SelectField SelectField SelectField"
      "SelectField SelectField SelectField"
      "SelectField SelectField SelectField"; 
    grid-area: SelectionTool; 
    border: solid;
    border-radius: 10px;
    background-color: #e6e6e6;
}
  
.SelectButtons { 
    grid-area: SelectButtons;
}

.SelectButton {
    background-color: #527acc;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    border: solid;
    width: 30%;
    border-width: 0.8px;
    border-radius: 25px;
    display: inline-block;
}

.SelectButton:hover {
    background-color: #45ba7a;
    box-shadow: 0 0 11px rgba(51,51,51,.5);
    cursor: pointer;
}

.SearchField { 
    grid-area: SearchField;
    border: solid;
    background-color: lightsteelblue;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "SearchText1 SearchBar1"
        "SearchText2 SearchBar2";
}
 
.SearchText1 {
    grid-area: SearchText1;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}

.SearchBar1 {
    grid-area: SearchBar1;
    width: 90%;
    margin-top: 10px;
}

.SearchText2 {
    grid-area: SearchText2;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}

.SearchBar2 {
    grid-area: SearchBar2;
    width: 90%;
    margin-top: 10px;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
}

.SessionSelectField { 
    grid-area: SelectField; 
    border: solid;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #2163c9;

    max-height: 345px;

    display: grid;
    align-items: start;
    grid-auto-flow: center;
    
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-auto-rows: 50px;
    overflow: scroll;
}

.FileSelectField { 
    grid-area: SelectField; 
    border: solid;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #2163c9;

    max-height: 345px;

    display: grid;
    align-items: start;
    grid-auto-flow: center;
    
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-auto-rows: 90px;
    overflow: scroll;
}

.SessionItem {
    border: solid;
    text-align: left;
    background-color: wheat;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.SessionItemSelected {
    border: solid;
    text-align: left;
    background-color: lightgreen;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.SessionItem:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(51,51,51,.5);
}

.SessionItemSelected:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(51,51,51,.5);
}

.FileItem {
    border: solid;
    text-align: left;
    background-color: wheat;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.FileItemSelected {
    border: solid;
    text-align: left;
    background-color: lightgreen;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.FileItem:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(51,51,51,.5);
}

.FileItemSelected:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(51,51,51,.5);
}

.Legend {
    grid-area: Legend;
    border: solid;
    background-color: lightcyan;
}

.svgLegend {
    width: 100%;
    height: 100%;
}

.Visualization { 
    grid-area: Visualization; 
    display: inline-block;
    border: solid;
    background-color: white;
}

.svgVisualization {
    width: 100%;
    height: 100%;
}

.ConstantButton {
    float: left;
    background-color: #527acc;
    color: whitesmoke;
    font-size: 15px;
    margin-left: 40px;
    margin-right: 70px;
    padding: 10px;
    width: 20%;
    border: solid;
    border-width: 0.8px;
    border-radius: 25px;
}

.ConstantButton:hover {
    background-color: #45ba7a;
    box-shadow: 0 0 11px rgba(51,51,51,.5);
    cursor: pointer;
}

.SettingsPopup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5px;
    padding-right: 10px;
    left: 30%;
    top: 20%;
    width: 50%; 
    height: 50%;
    overflow: scroll;
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.SettingsContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.CloseSettings {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 1px;
}

.CloseSettings:hover {
    cursor: pointer;
}

.IgnoreFilesInput {
   margin-bottom: 15px; 
}

.IgnoreRow {
    padding-top: 5px;
}

.IgnoreBtn {
    background-color: #527acc;
    color: whitesmoke;
    border: solid;
    border-width: 0.8px;
    border-radius: 25px;
    padding: 3px;
    margin-left: 5px;
}

.IgnoreBtn:hover {
    cursor: pointer;
}

.IgnoredBtn {
    background-color: #ff4d4d;
    color: whitesmoke;
    border: solid;
    border-width: 0.8px;
    border-radius: 25px;
    padding: 3px;
    margin-left: 5px;
}

.IgnoredBtn:hover {
    cursor: pointer;
}